<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("UILayoutHead")

<body class="index-page">

    @await Component.InvokeAsync("UILayoutHeader")

    <main class="main">
        @RenderBody()
    </main>

    @await Component.InvokeAsync("UILayoutFooter")

    @await Component.InvokeAsync("UILayoutScript")

</body>

</html>
