<!DOCTYPE html>
<html lang="en">
<head>
    @await Component.InvokeAsync("AdminLayoutHeadComponent")
</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            
            @await Component.InvokeAsync("AdminLayoutNavbarComponent")
            
            @await Component.InvokeAsync("AdminLayoutSidebarComponent")
            
            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <div class="section-body">
                         @RenderBody()
                    </div>
                </section>
            </div>
            
            @await Component.InvokeAsync("AdminLayoutFooterComponent")
        </div>
    </div>
    
    @await Component.InvokeAsync("AdminLayoutScriptsComponent")
</body>
</html>
