<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar sticky">
    <div class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
            <li>
                <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn"> <i data-feather="align-justify"></i></a>
            </li>
            <li>
                <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                    <i data-feather="maximize"></i>
                </a>
            </li>
            <li>
                <form class="form-inline mr-auto">
                    <div class="search-element">
                        <input class="form-control" type="search" placeholder="Ara" aria-label="Search" data-width="200">
                        <button class="btn" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </li>
            <li>
                <a href="/Admin/Booking/Index" class="nav-link nav-link-lg">
                    <i data-feather="book-open"></i>
                </a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav navbar-right">
        
        @await Component.InvokeAsync("AdminNavbarMessageComponent")
        
        @await Component.InvokeAsync("AdminNavbarNotificationComponent")

        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                <img alt="image" src="~/Otika/assets/img/user.png" class="user-img-radious-style"> 
                <span class="d-sm-none d-lg-inline-block"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
                <div class="dropdown-title">Merhaba Admin</div>
                <a href="#" class="dropdown-item has-icon"> <i class="far fa-user"></i> Profil</a>
                <a href="#" class="dropdown-item has-icon"> <i class="fas fa-bolt"></i> Aktiviteler</a>
                <a href="#" class="dropdown-item has-icon"> <i class="fas fa-cog"></i> Ayarlar</a>
                <div class="dropdown-divider"></div>
                <form asp-controller="Account" asp-action="Logout" asp-area="" method="post" id="logoutForm" class="d-inline">
                    <button type="submit" class="dropdown-item has-icon text-danger border-0 bg-transparent w-100 text-left d-flex align-items-center" style="cursor:pointer;">
                        <i class="fas fa-sign-out-alt"></i> Çıkış Yap
                    </button>
                </form>
            </div>
        </li>
    </ul>
</nav>
