@model YummyRestaurant.Application.DTOs.ChefDTOs.CreateChefDto
@{
    ViewData["Title"] = "Yeni Şef Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Yeni Şef Ekle</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Ad</label>
                            <input type="text" asp-for="FirstName" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Soyad</label>
                            <input type="text" asp-for="LastName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Unvan (Örn: Yönetici Şef, Sos Şefi)</label>
                        <input type="text" asp-for="Title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Görsel URL</label>
                        <input type="text" asp-for="ImageUrl" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Açıklama / Biyografi</label>
                        <textarea asp-for="Description" class="form-control" rows="5" style="height:150px"></textarea>
                    </div>
                    <button class="btn btn-outline-primary"><i class="fas fa-save"></i> Kaydet</button>
                    <a href="/Admin/Chef/Index" class="btn btn-outline-secondary">İptal</a>
                </form>
            </div>
        </div>
    </div>
</div>
