<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Hakkımızda<br></h2>
        <p><span>Daha Fazla</span> <span class="description-title">Bilgi Edinin</span></p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                <img src="~/Yummy/assets/img/about.jpg" class="img-fluid mb-4" alt="">
                <div class="book-a-table">
                    <h3>Rezervasyon Yap</h3>
                    <p>+90 555 123 45 67</p>
                </div>
            </div>
            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        Yummy Restaurant olarak misafirlerimize en taze ve doğal malzemelerle hazırlanan eşsiz lezzetler sunmaktan gurur duyuyoruz.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Günlük ve taze malzemelerle hazırlanan özel menüler.</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Konforlu ve şık atmosferimizde keyifli zamanlar.</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Profesyonel hizmet anlayışı ile müşteri memnuniyeti odaklı yaklaşım.</span></li>
                    </ul>
                    <p>
                        Yemeklerimiz sadece bir öğün değil, aynı zamanda bir deneyimdir. Şeflerimiz, geleneksel tarifleri modern dokunuşlarla harmanlayarak damak tadınıza hitap eden sanat eserleri ortaya çıkarır. Sizi de bu lezzet yolculuğuna bekliyoruz.
                    </p>

                    <div class="position-relative mt-4">
                        <img src="~/Yummy/assets/img/about-2.jpg" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
